<h1>About me</h1>
<p>Addy get no bitches</p>
<p><%= @about %></p>
<p><br></p>
<ul>
    <% @AboutList.each do |elem| %>
        <li>
            <a href="/about/<%= elem.id %>"><%= elem.title %></a>
        </li>
    <% end %>
</ul>

<%= link_to "New About", new_about_path %>